# --- Build & Logs (Crucial for Colcon) ---
build/
install/
log/
.catkin_tools/
.colcon/
*.pyc

# --- ROS 2 / IDE Specifics ---
.vscode/
.idea/
.DS_Store
*.swp
*~

# --- AMBF and Challenge Repositories ---
# Since you are cloning these repositories, we ignore them to prevent 
# Git from trying to track nested repositories.
src/ambf/
src/surgical_robotics_challenge/
casa_app/ambf/
casa_app/surgical_robotics_challenge/

# --- Large Files Managed by LFS ---
# Ensure these aren't accidentally committed as raw binaries
*.STL
*.dae

# --- OS Specific ---
Thumbs.db
Desktop.ini

# --- Frequently Changing Files ---
src/casa_autonomy_stack/data/expert_demonstrations/
casa_app/casa_autonomy_stack/data/expert_demonstrations/

# --- Datasets ---
casa_app/casa_perception/dataset/processed/
casa_app/casa_perception/dataset/raw/

# --- QA Reviews ---
casa_app/casa_perception/src/mask_generation/qa_review/